In [1]:
"""
pandas常用操作练习

author: lishuai
date: 2019-11-26
"""

'\npandas\xe5\xb8\xb8\xe7\x94\xa8\xe6\x93\x8d\xe4\xbd\x9c\xe7\xbb\x83\xe4\xb9\xa0\n\nauthor: lishuai\ndate: 2019-11-26\n'

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

### create dataframe

In [3]:
pdf1 = pd.DataFrame([
    ['a1', 1, 0.1],
    ['a2', 2, 1.3],
    ['a3', 2, 0.6],
    ['a4', 4, 6.7]
], columns=['a', 'b', 'c'])
pdf1

    a  b    c
0  a1  1  0.1
1  a2  2  1.3
2  a3  2  0.6
3  a4  4  6.7

In [4]:
pdf2 = pd.DataFrame([
    {'a':'a1', 'b':2},
    {'a':'a3', 'd':2}
])
pdf2

    a    b    d
0  a1  2.0  NaN
1  a3  NaN  2.0

In [5]:
pdf1.dtypes

a     object
b      int64
c    float64
dtype: object

### iloc

In [6]:
pdf1.iloc[:3]

    a  b    c
0  a1  1  0.1
1  a2  2  1.3
2  a3  2  0.6

In [7]:
pdf1[:3]

    a  b    c
0  a1  1  0.1
1  a2  2  1.3
2  a3  2  0.6

### filter

In [8]:
pdf1[pdf1["c"]>0.2]

    a  b    c
1  a2  2  1.3
2  a3  2  0.6
3  a4  4  6.7

In [9]:
pdf1[pdf1["b"].isin([2,3,4])]

    a  b    c
1  a2  2  1.3
2  a3  2  0.6
3  a4  4  6.7

In [10]:
pdf2[pdf2["d"].isnull()]

    a    b   d
0  a1  2.0 NaN

### select

In [11]:
cols = ['b', 'c']
pdf1[cols]

   b    c
0  1  0.1
1  2  1.3
2  2  0.6
3  4  6.7

### sort_values

In [12]:
pdf1.sort_values("c", ascending=True)

    a  b    c
0  a1  1  0.1
2  a3  2  0.6
1  a2  2  1.3
3  a4  4  6.7

### fillna

In [13]:
pdf3 =pdf2.fillna(value=0)
pdf3

    a    b    d
0  a1  2.0  0.0
1  a3  0.0  2.0

### drop_duplicates

In [14]:
pdf1.drop_duplicates(["b"])

    a  b    c
0  a1  1  0.1
1  a2  2  1.3
3  a4  4  6.7

### apply

In [19]:
def add_(arr, bias):
    x = arr["b"]
    y = arr["c"]
    return x + y + bias

pdf1["b_c"] = pdf1.apply(add_, axis=1, bias=5)
pdf1

    a  b    c   b_c
0  a1  1  0.1   6.1
1  a2  2  1.3   8.3
2  a3  2  0.6   7.6
3  a4  4  6.7  15.7

### save

In [31]:
pdf1.to_csv("test.csv", index=False)

In [30]:
pdf1.to_pickle("test.plk")

### concat

In [32]:
pdf1

    a  b    c
0  a1  1  0.1
1  a2  2  1.3
2  a3  3  0.6
3  a4  4  6.7

In [33]:
pdf2

    a    b    d
0  a1  2.0  NaN
1  a3  NaN  2.0

In [38]:
cols = ["a", "b"]
pd.concat([pdf1[cols], pdf2[cols]]).reset_index(drop=False)

   index   a    b
0      0  a1  1.0
1      1  a2  2.0
2      2  a3  3.0
3      3  a4  4.0
4      0  a1  2.0
5      1  a3  NaN

### merge

In [41]:
pd.merge(pdf1, pdf2, on=['a', 'b'], how="left")

    a  b    c   d
0  a1  1  0.1 NaN
1  a2  2  1.3 NaN
2  a3  3  0.6 NaN
3  a4  4  6.7 NaN

### date_range

In [2]:
dates = pd.date_range("2000-01-01", "2000-01-06")
dates

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06'],
              dtype='datetime64[ns]', freq='D')