In [ ]:
"""
pandas exercise
"""

In [1]:
import pandas as pd
import numpy as np

In [2]:
pdf1 = pd.DataFrame([
    ['a', 1],
    ['b', 2],
    ['c', 3],
    ['a', 4],
], columns=["c1", "c2"])

In [3]:
pdf2 = pd.DataFrame([
    ['a', 10],
    ['b', 20],
    ['c', 30],
    ['d', 40],
], columns=["c1", "c3"])

In [5]:
pd.merge(pdf1, pdf2, how="left", on="c1")

  c1  c2  c3
0  a   1  10
1  b   2  20
2  c   3  30
3  a   4  10

In [6]:
pd.merge(pdf1, pdf2, how="right", on="c1")

  c1   c2  c3
0  a  1.0  10
1  a  4.0  10
2  b  2.0  20
3  c  3.0  30
4  d  NaN  40

In [7]:
pd.merge(pdf1, pdf2, how="inner", on="c1")

  c1  c2  c3
0  a   1  10
1  a   4  10
2  b   2  20
3  c   3  30

In [8]:
pd.merge(pdf1, pdf2, how="outer", on="c1")

  c1   c2  c3
0  a  1.0  10
1  a  4.0  10
2  b  2.0  20
3  c  3.0  30
4  d  NaN  40